body {
  background: #add9e4 !important;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%) !important;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4)) !important;
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%) !important;
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%) !important;
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%) !important;
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%) !important;
  background-color: #f7fbfc !important; 
  }
 }